Repository kosmadenis/react-blog: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --color, stylelint --color

.lintstagedrc.json:

{
  "!(*.{js,jsx,ts,tsx})": "prettier --ignore-unknown --check",
  "*.{js,jsx,ts,tsx}": "eslint --color",
  "*.{css,scss}": "stylelint --color"
}

Deploy
  README.md
  vercel.json
Due: none

Вынос Header в отдельную папку
  src/routes/containers/Header/Header.module.scss
  src/routes/containers/Header/Header.tsx
  src/routes/containers/Header/index.ts
  src/routes/containers/Root/Root.tsx
Due: eslint --color, stylelint --color

Использование тегов ul, li для article tags
  src/features/articles/components/ArticleHeader/ArticleHeader.module.scss
  src/features/articles/components/ArticleHeader/ArticleHeader.tsx
Due: eslint --color, stylelint --color

Реорганизация общих компонентов - разделение на elements/widgets вместо active/passive (часть 1)
  src/components/elements/Button/Button.module.scss
  src/components/elements/Button/Button.tsx
  src/components/elements/Button/index.ts
  src/components/elements/Checkbox/Checkbox.module.scss
  src/components/elements/Checkbox/Checkbox.tsx
  src/components/elements/Checkbox/check-mark.svg
  src/components/elements/Checkbox/index.ts
  src/components/elements/Link/Link.module.scss
  src/components/elements/Link/Link.tsx
  src/components/elements/Link/index.ts
  src/components/elements/Spinner/Spinner.module.scss
  src/components/elements/Spinner/Spinner.tsx
  src/components/elements/Spinner/index.ts
  src/components/elements/Textbox/Textbox.module.scss
  src/components/elements/Textbox/Textbox.tsx
  src/components/elements/Textbox/index.ts
  src/components/widgets/ProfilePicture/ProfilePicture.module.scss
  src/components/widgets/ProfilePicture/ProfilePicture.tsx
  src/components/widgets/ProfilePicture/index.ts
  src/components/widgets/StatusDisplay/StatusDisplay.module.scss
  src/components/widgets/StatusDisplay/StatusDisplay.tsx
  src/components/widgets/StatusDisplay/index.ts
Due: eslint --color, stylelint --color

Реорганизация общих компонентов - разделение на elements/widgets вместо active/passive (часть 2)
  src/components/elements/Button/Button.tsx
  src/components/forms/CheckboxField/CheckboxField.tsx
  src/components/forms/Form/Form.tsx
  src/components/forms/TextboxField/TextboxField.tsx
  src/components/forms/TextboxListField/TextboxListField.tsx
  src/components/widgets/StatusDisplay/StatusDisplay.tsx
  src/features/articles/components/ArticleButtons/ArticleButtons.tsx
  src/features/articles/components/ArticleHeader/ArticleHeader.tsx
  src/features/articles/components/ArticleMetadata/ArticleMetadata.tsx
  src/features/articles/routes/Article/Article.tsx
  src/features/articles/routes/Articles/Articles.tsx
  src/features/articles/routes/EditArticle/EditArticle.tsx
  src/features/user/components/SignOutButton/SignOutButton.tsx
  src/features/user/routes/SignIn/SignIn.tsx
  src/features/user/routes/SignUp/SignUp.tsx
  src/routes/containers/Header/Header.tsx
  src/routes/status/Forbidden/Forbidden.tsx
  src/routes/status/GenericError/GenericError.tsx
  src/routes/status/NotFound/NotFound.tsx
Due: eslint --color

Разделение формы создания/редактирования статьи на 3 компонента (вынос логики создания и редактирования статьи из формы)
  src/features/articles/components/CreateArticleWrapper/CreateArticleWrapper.tsx
  src/features/articles/components/CreateEditArticleForm/CreateEditArticleForm.tsx
  src/features/articles/components/CreateEditArticleForm/index.ts
  src/features/articles/components/EditArticleWrapper/EditArticleWrapper.tsx
  src/features/articles/routes/CreateArticle/CreateArticle.tsx
  src/features/articles/routes/EditArticle/EditArticle.tsx
Due: eslint --color
